/* start header */
nav {
  padding: 20px;
  transition: 1s;
  transition: 1.2s;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  color: var(--minColor);
  font-weight: 800;
  text-transform: uppercase;
}

nav .links {
  position: relative;
}

nav .links .icon {
  width: 30px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

nav .links .icon span {
  background-color: var(--minColor);
  height: 2px;
  margin-bottom: 5px;
}

nav .links .icon span:first-child {
  width: 100%;
  height: 2px;
}

nav .links .icon span:nth-child(2) {
  width: 60%;
  height: 2px;
}

nav .links:hover .icon span:nth-child(2) {
  width: 100%;
  transition: 0.5s;
}

nav .links .icon span:last-child {
  width: 100%;
  height: 2px;
}

nav .links ul {
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: calc(100% + 22px);
  right: -30px;
  background-image: linear-gradient(#03070a, #041622);
  min-width: 120px;
  display: none;
  z-index: 9999;
  border-radius: 20px;
}

nav .links:hover ul {
  display: block;
}

nav .links ul::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent var(--min-color-heading) transparent;
  border-width: 10px;
  right: 40px;
  top: -20px;
}

nav .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--min-color-heading);
}

nav .links ul li:hover a {
  padding-left: 25px;
}

nav .links ul li:not(:last-child) {
  border-bottom: 1px solid var(--secondry-color);
}

.banner {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.banner h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 60px;
  color: var(--minColor);
  padding-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .banner h1 {
    font-size: 30px;
  }
}
.banner p {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 300;
  color: #ccc;
  margin: auto;
  width: 300px;
}
@media only screen and (max-width: 767px) {
  .banner {
    top: 30%;
    width: 300px;
  }
}

header {
  background-image: url(../images/header.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
}

/* start feature */
.feature {
  padding-top: var(--minPadding);
  padding-bottom: var(--minPadding);
}

.feature .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.feature .feat {
  padding: 20px;
  text-align: center;
}

.feature .feat .text h3 {
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0;
  color: var(--min-color-heading);
}

.feature .feat .text p {
  color: #f0f0f0;
  font-size: 16px;
  font-weight: 400;
}

.services {
  padding-top: var(--minPadding);
  padding-bottom: var(--minPadding);
  border-top: var(--border-color) solid 1px;
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
  margin-top: 40px;
  gap: 50px;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .services .services-content {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.services .services-content .srv .text {
  flex: 1;
}

.services .services-content .srv {
  margin-bottom: 40px;
  display: flex;
}

.services .services-content .srv i {
  flex-basis: 60px;
}

.services .services-content .srv h3 {
  margin: 0 0 10px;
  color: var(--min-color-heading);
}

.services .services-content .srv p {
  color: #f0f0f0;
  font-weight: 300;
  line-height: 1.6;
}

@media only screen and (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .image {
  position: relative;
  text-align: center;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .services .services-content .image {
    display: none;
  }
}
.services .services-content .image img {
  box-shadow: 0 0 10px var(--minColor);
}

.about {
  padding-top: var(--minPadding);
  padding-bottom: var(--minPadding);
  border-top: var(--border-color) solid 1px;
}

.about .about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

@media only screen and (max-width: 1024px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
  .about .about-content .image {
    margin: 0 auto 60px;
  }
  .about .about-content .image {
    max-height: 350px;
    max-width: 300px;
  }
  .about .about-content .image:before,
  .about .about-content .image:after {
    display: none;
  }
}
.about .about-content .image {
  width: 350px;
  height: 300px;
}

.about .about-content .image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.about .about-content .text {
  flex-basis: calc(100% - 400px);
}

.about .about-content .text p:first-of-type {
  margin-bottom: 30px;
  text-align: left;
  font-weight: bold;
  line-height: 2;
  color: #c9c3c3;
}

.about .about-content .text p:last-of-type {
  line-height: 2;
  color: var(--secondry-color);
  margin-top: 30px;
}

.about .about-content .text hr {
  display: inline-block;
  border-color: var(--minColor);
  width: 50%;
}

/* end about */
/* start photos */
.photos {
  padding-top: var(--minPadding);
  padding-bottom: var(--minPadding);
  border-top: var(--border-color) solid 1px;
}

.photos .photos-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 30px;
}

@media only screen and (max-width: 767px) {
  .photos .photos-content {
    gap: 10px;
  }
}
.photos .photos-content .image {
  padding: 20px;
  border: 5px solid rgba(218, 170, 170, 0.6666666667);
  background-color: transparent;
  position: relative;
}
.photos .photos-content .image::before {
  content: "";
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background-image: linear-gradient(var(--min-background-image));
  right: 0;
  top: 0;
}

.photos .photos-content .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  /*   padding: 10px;
    background-color: transparent;
    padding: 20px;
    border: 5px solid #daaaaaaa;
    background-color: transparent; */
}

.photos .photos-content .card .tow {
  transform: scale(1.1);
}
@media only screen and (max-width: 1200px) {
  .photos .photos-content .card .tow {
    transform: unset;
  }
}

img {
  border-radius: 20px;
  background-color: transparent;
  border-radius: 20px;
}

.photos .photos-content .card {
  max-width: 400px;
  margin: auto;
}

.photos .photos-content .card .info {
  text-align: center;
  margin-top: 20px;
  color: #5f5e5e;
}

.photos .photos-content .card .info h3 {
  margin: 10px;
  font-weight: 700;
  color: var(--min-color-heading);
}

.photos .photos-content .card .info p {
  color: var(--des-color);
  margin: 0;
}

/* start contact */
.contact {
  border-top: 1px solid var(--border-color);
  padding-bottom: var(--minPadding);
  padding-top: var(--minPadding);
}

.contact .info {
  /*   padding-top: var(--minPadding);
    padding-bottom: var(--minPadding) ; */
  color: #ccc;
  text-align: center;
}

.contact .info .lable {
  font-size: 35px;
  font-weight: bold;
  color: rgb(240, 239, 239);
  margin-bottom: 20px;
}

.contact .info .link {
  text-decoration: none;
  display: block;
  color: #a7a2a2;
  font-size: 30px;
  font-weight: bold;
}

.contact .info .social {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.contact .info .social i {
  margin-left: 10px;
}

@media only screen and (max-width: 767px) {
  .contact .info .lable {
    font-size: 25px;
  }
}
/* end contact */
/* start footer */
.footer {
  font-size: 15px;
  align-items: center;
  padding: 10px 0;
  text-align: center;
  color: #c9c3c3;
  padding: 10px 0;
  border-top: var(--border-color) solid 1px;
}

.footer span {
  font-weight: bold;
  color: #eee;
}

:root {
  --minColor: #eee;
  --minBackground-color: rgb(0, 0, 0);
  --minPadding: 60px;
  --secondry-color: #eeeeee88;
  --min-color-heading: #eee;
  --icon-color: rgb(255, 69, 193);
  --border-color: hsla(0, 1%, 26%, 0.404);
  --des-color: #797f91;
  --min-background:
    to bottom,
    linear-gradient(#03070a, #041622);
  --min-background-image: linear-gradient(#f08192, #2c38a3);
}

:root {
  --minColor: #eee;
  --minBackground-color: rgb(0, 0, 0);
  --minPadding: 60px;
  --secondry-color: #eeeeee88;
  --min-color-heading: #eee;
  --icon-color: rgb(255, 69, 193);
  --border-color: hsla(0, 1%, 26%, 0.404);
  --des-color: #797f91;
  --min-background:
    to bottom,
    linear-gradient(#03070a, #041622);
  --min-background-image: linear-gradient(#f08192, #2c38a3);
}

i {
  background: linear-gradient(to right, #f16fb2, #7e44f3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

body {
  font-family: "Work Sans", sans-serif;
  background-image: linear-gradient(#03070a, #041622);
}

@media (max-width: 767px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.section-heading {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  color: transparent;
  background: linear-gradient(to right, #f16fb2, #7e44f3);
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .section-heading {
    font-size: 60px;
  }
}
.section-heading + p {
  color: #eee;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

::selection {
  color: var(--minBackground-color);
  background-color: var(--minColor);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
