.about {
  padding-top: var(--minPadding);
  padding-bottom: var(--minPadding);
  border-top: var(--border-color) solid 1px;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      text-align: center;
    }
  }
  &__item {
    &-image {
      width: 350px;
      height: 300px;
      & img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
    &-description {
      flex-basis: calc(100% - 400px);
      & p {
        text-align: left;
        font-weight: bold;
        line-height: 2;
        color: #c9c3c3;
      }
    }
  }
}

/* end about */
