.banner {
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

      h1 {
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 80px;
        color: var(--minColor);
        padding-bottom: 10px;
        word-spacing: -8px;
        letter-spacing: -4px;
      @media only screen and (max-width: 767px) {
        font-size: 35px;
      }

      }
      p {
        font-size: 18px;
        line-height: 1.7;
        font-weight: 300;
        color: #ccc;
        margin: auto;
        width: 300px;
      }
      
      @media only screen and (max-width: 767px) {
        top: 30%;
        width: 300px;
    }
  }

