.banner {
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
      &__title {
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 60px;
        color: var(--minColor);
        padding-bottom: 10px;
      @media only screen and (max-width: 767px) {
        font-size: 35px;
      }

      }
      
      &__description {
        font-size: 18px;
        line-height: 1.7;
        font-weight: 300;
        color: #ccc;
        margin: auto;
        width: 300px;
      }
      
      @media only screen and (max-width: 767px) {
        top: 30%;
        width: 300px;
    }
  }

