/* start footer */
.footer {
    font-size: 15px;
    align-items: center;
    padding: 10px 0;
    text-align: center;
    color: #c9c3c3;
    border-top: var(--border-color) solid 1px;
  }
  .footer span {
    font-weight: bold;
    color: #eee;
  }