.navbar {
  padding: 20px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-weight: 800;
    color: var(--minColor);
    text-transform: capitalize;
    & span {
      color: #C35ECD;
    }
  }
  &__links {
    &-wrapper {
      position: relative;
      &:hover .navbar__links-icon-item {
        width: 100%;
      }
      &:hover .navbar__links-globle {
        display: block;
      }
    }
    &-globle {
      display: none;
      list-style: none;
      position: absolute;
      padding: 0;
      margin: 0;
      right: -30px;
      top: calc(100% + 10px);
      background-color: #041622;
      min-width: 160px;
      border-radius: 20px;
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        border-color: transparent transparent #041622 transparent;
        border-width: 10px;
        border-style: solid;
        right: 35px;
        top: -20px;
      }
      &-item {
        padding: 20px;
        &:not(:last-child) {
          border-bottom: 1px solid #535252cc;
        }
        & a {
          text-decoration: none;
          color: #eef3f7;
          &:hover {
            transform: translateX(42px);
          }
        }
      }
    }

    &-icon {
      width: 30px;
      display: flex;
      justify-content: end;
      flex-wrap: wrap;
      &-item {
        background-color: white;
        height: 2px;
        margin-bottom: 5px;
        &:first-child,
        &:last-child {
          width: 100%;
          height: 2px;
        }
        &:nth-child(2) {
          width: 60%;
          height: 2px;
          transition: 0.3s;
        }
      }
    }
  }
}
