/* start photos */
.photos {
  padding-top: var(--minPadding);
  padding-bottom: var(--minPadding);
  border-top: var(--border-color) solid 1px;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 30px;
    @media (max-width: 767px) {
      gap: 50px;
    }
  }
  &__card {
    &-content {
      text-align: center;
      margin: 10px 0;
    }
    max-width: 400px;
    margin: auto;

    &-info {
      text-align: center;
      margin-top: 20px;
      color: #5f5e5e;
      @media (max-width: 767px) {
        margin: 20px 0;
      }
    }
    &-title {
      font-weight: 700;
      color: var(--min-color-heading);
    }
    &-description {
      color: var(--des-color);
      padding-top: 10px;
    }
    & img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    &-scale {
      transform: scale(1.1);
      margin-bottom: 8px;
      @media only screen and (max-width: 1200px) {
        transform: unset;
        margin-bottom: 0;
      }
    }
  }
}

img {
  border-radius: 20px;
  background-color: transparent;
  border-radius: 20px;
}

