.service {
  padding-top: var(--minPadding);
  padding-bottom: var(--minPadding);
  border-top: var(--border-color) solid 1px;
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    margin-top: 40px;
    gap: 50px;
    color: #fff;
    @media (max-width: 767px) {
      gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  &__item {
    margin-bottom: 40px;
    display: flex;

    &-content {
      flex: 1;
    }

    & i {
      flex-basis: 60px;
    }

    &-title {
      margin: 0 0 10px;
      color: var(--min-color-heading);
    }
    &-description {
      color: #f0f0f0;
      font-weight: 300;
      line-height: 1.6;
    }
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      text-align: center;
    }
  }
}

